
* {
    outline: 1px dashed red;
}
*/

body {
    background-image: url("/src/pexels-photo-462162.jpeg");
    font-family: Georgia, 'Times New Roman', Times, serif;
}


main > * {
    margin-bottom: 20px;
}

nav,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.skillset {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

@media (min-width: 700px) {
    body {
        /* margin: 10px 190px; */
    }
}

@media (max-width: 600px) {
    .skillset {
    grid-template-columns: repeat(4, 1fr);
    }

}

nav > * {
    padding: 10px;
    border: 1px solid;
    border-radius: 1rem;
}

nav > *:hover {
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.284);
}

.app-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.app-collection > div {
    flex: 1 1 calc(100% - 110px);
    text-align: center;
    max-width: 45%;
}

.app-collection div:nth-child(odd) {
  flex: 0 0 calc(100% - 120px);
}

.app-collection span {
    font-size: 150px;
}

.mdi {
    font-size: 50px;
}

.skill-wrapper {
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.284);
    padding: 5px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.skill-wrapper > i {
    font-size: 50px;
}

.skill-wrapper > div {
    text-align: center;
    min-width: 80px;
}

footer {
    bottom: 0px;
    right: 0px;
}

footer > * {
    font-size: 50px;
    text-decoration: none;
    color: inherit;
}